 h1 {
 color:red;
 height:20px ;
 width:15px ;
 }
 a {
 color:black ;
 text-decoration:none;
 }
 #uhr {
		color: #ff005b; 
		background-color: #1eff00; 
		border: 5px solid; 
		margin: 10; 
 }
 #warning {
 color: Red;
 height:30px ;
 wight:45px ;
 }
